.container {
  display: grid;
  grid-template-columns:repeat(13, 1fr);
  grid-template-rows: repeat(30, 100px);

}

.meny{
  grid-column: 1/-1;
  grid-row: 3/4;
}

nav{
  grid-column: 1/-1;
  grid-row: 1/3;
}

footer{
  grid-column: 4/10;
  grid-row: 17/19;
}

.article-tips{
  grid-column:2/6;
  grid-row: 10/12;

}

.aside-historia{
  grid-column: 8/13;
  grid-row: 5/8;
}

.section1{
  grid-column: 2/6;
  grid-row: 5/10
}

.section2{
  grid-column: 2/5;
  grid-row: 6/15
}

.aside2{
  grid-column: 6/9;
  grid-row:6/15;
}

.section3{
grid-column: 6/9;
grid-row: 7/10;
}

.section4{
grid-column: 10/12;
grid-row: 6/15;
}

h1{
  grid-column: 7/8;
  grid-row: 4/5;
}

#hallon{
  grid-column: 8/13;
  grid-row: 12/14;
}
