.container {
  display: grid;
  grid-template-columns:repeat(10, 1fr);
  grid-template-rows: repeat(10, 100px);

}

.meny{
  grid-column: 1/-1;
  grid-row: 3/4;
}

nav{
  grid-column: 1/-1;
  grid-row: 1/3;
}
