/* Övre bakgrundsbild */
nav{
  background-image:url(../img/chokladkaka.jpeg);
}

/*Bakgrundsbild */
body{
  background-color: rgba(158, 129, 12, 0.23);
}


/*Meny*/
.meny{
  list-style-type: none;
  background-color: rgba(235, 155, 19, 0.2);
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  margin:auto;
}

.li-meny{
  float: left;
  padding: 10px;
  display:inline-block;
}

li a{
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  padding: 14px 14px;
  padding-left: 100px;
  padding-right: 100px;
}
/*Bakgrundsfärg när pilen är över*/
li a:hover{
  background-color: rgba(205, 180, 123, 0.77);
}

ol{
  list-style-type: lower-alpha;
}
/*Bilder till receptsidan*/
.bild-recept{
  width: 25vw;
  height: 20vw;
}
/*Länk*/
a{
  text-decoration: none;
  color: black;
}

/*Bild på startsidan*/
#hallon{
  width: 40vw;
  height: 25vw;
}


/*Bildspel */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width 600) {

  p{
    font-size: 15px;
  }
}
